@model SearchViewModel
@using MoviesSearch.Models;
<div class="row">
    <div class="col-lg-9">


        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hit in Model.Hits)
                    {
                        var movie = hit.Source;
                        <tr>
                            <td>@Html.DisplayFor(model => movie.Title)</td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        @await Html.PartialAsync("Aggregations", Model)
    </div>
</div>