@model SearchViewModel
@using MoviesSearch.Models;
<div class="row">
    <div class="col-lg-9">
        <table class="table table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Storyline</th>
                    <th>Title</th>
                    <th>Title</th>
                    <th>Title</th>
                    <th>Title</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hit in Model.Hits)
                {
                    var movie = hit.Source;
                    <tr>
                        <td><a href="@movie.MovieUrl">@Html.DisplayFor(model => movie.Title)</a></td>
                        <td>
                            @Html.DisplayFor(model => movie.Storyline)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
