<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="input-group" id="adv-search">
                <input name="queryString" type="text" class="form-control" placeholder="Search for title or storyline"/>
                <button type="submit" asp-controller="Movies" asp-action="Search" id="search" class="btn btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>