@using MoviesSearch.Models;
@model SearchViewModel
@{
    Layout = "_Layout";

}
<partial name="_SearchBar" />

<div class="container-fluid bound-container page-header">
    @await Html.PartialAsync(Model.Total > 0 ? "_Results" : "_NoResults", Model)
</div>
